[user]
	email = "kowalrox@gmail.com"
	name = "leiswatch"
[init]
	defaultBranch = main
[core]
	pager = delta
	editor = nvim
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
[interactive]
    diffFilter = delta --color-only
[rerere]
    enabled = true
[include]
    ; path = /home/leiswatch/.config/delta/catppuccin-gitconfig
	path = /home/leiswatch/.config/delta/tokyonight-gitconfig
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    line-numbers = true
    features = catppuccin-mocha
[diff]
    colorMoved = default
[includeIf "gitdir:~/Projects/bold/"]
	path = /home/leiswatch/.gitconfig-bold
[push]
	autoSetupRemote = true
