/**
 *
 * Author : leiswatch
 * Github : @leiswatch
 * 
 * Colors
 **/

* {
    background:     #2B2B2B;
    background-alt: #404040;
    foreground:     #E8E8E8;
    selected:       #34A8E3;
    active:         #A6E3A1;
    urgent:         #EA383D;
    gray:           #7C8087;
}
