/* @import "mocha.css"; */
@import "tokyonight.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  font-family: "JetBrainsMono Nerd Font Propo";
  background-color: @bg;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-size: 14px;
  font-weight: 500;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: @bg_dark_alt;
  border-radius: 4px;
  margin: 8px 0 8px 8px;
  padding: 0 4px;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  /* padding: 0 8px; */
  margin: 0 4px;
  color: @fg_dark;
  /* border-radius: 4px; */
}

#workspaces button.empty {
  color: @comment;
}

#workspaces button.active {
  /* background-color: @blue; */
  color: @orange;
}

#workspaces button.focused {
  /* background-color: @blue; */
  color: @orange;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @yellow;
}

#workspaces button.urgent {
  color: @red;
}

#bluetooth,
#memory,
#pulseaudio,
#network,
#clock,
#cpu,
#disk,
#mode,
#idle_inhibitor,
#keyboard-state,
#scratchpad,
#custom-updates,
#language,
#submap,
#custom-notifications,
#spotify,
#window {
  border-radius: 4px;
  /* border: 1px solid @fg_gutter; */
  padding: 0 8px;
  background-color: @bg_dark_alt;
  margin: 8px 0;
  color: @fg;
}

#bluetooth {
  color: @blue6;
}

#submap {
  color: @red;
}

#window {
  color: #c0caf5;
}

#spotify {
  color: @green;
}

#custom-updates {
  color: @yellow;
}

#custom-notifications {
  color: @fg_dark;
  padding-right: 4px;
}

#scratchpad {
  background-color: @orange;
}

#tray {
  background-color: @bg_dark_alt;
  border-radius: 4px;
  padding: 0 8px;
  margin: 8px 8px 8px 0;
}

#tray menu {
  font-size: 13px;
  font-family: Ubuntu;
  font-weight: 400;
}

#keyboard-state {
  color: @fg_dark;
}

#keyboard-state label.locked {
  color: @red;
}

#memory {
  color: @blue5; /* Use box-shadow instead of border so the text isn't offset */
}

#disk {
  color: @magenta; /* Use box-shadow instead of border so the text isn't offset */
}

#cpu {
  color: @blue; /* Use box-shadow instead of border so the text isn't offset */
}

#language {
  color: @orange;
}

#idle_inhibitor {
  color: @fg;
}

#idle_inhibitor.deactivated {
  color: @fg_gutter;
}

#pulseaudio {
  color: @green; /* Use box-shadow instead of border so the text isn't offset */
}

#pulseaudio.muted {
  color: @red; /* Use box-shadow instead of border so the text isn't offset */
}

#clock {
  color: @fg;
}

#mode {
  color: @red;
}

tooltip {
  border-radius: 4px;
  padding: 12px;
  background-color: @bg_dark;
  font-family: Ubuntu;
}

tooltip label {
  padding: 4px;
  background-color: @bg_dark;
  font-family: Ubuntu;
}
