/* @import "mocha.css"; */

* {
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  font-family: JetBrainsMono Nerd Font;
  background-color: #1a1b26;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-size: 13px;
  font-weight: 500;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
  background-color: #1f2335;
  margin: 8px;
  padding: 0 4px;
  border-radius: 4px;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  padding: 0 8px;
  border-radius: 4px;
  /* margin: 4px 0; */
  /* background-color: #292e42; */
  font-weight: 600;
  color: #c0caf5;
}

#workspaces button.empty {
  color: #565f89;
}

#workspaces button.active {
  /* color: #1a1b26; */
  color: #ff9e64;
}

#workspaces button.focused {
  /* color: #1a1b26; */
  color: #ff9e64;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  /* color: #1a1b26; */
  color: #b4f9f8;
}

#workspaces button.urgent {
  color: #f7768e;
}

#memory,
#pulseaudio,
#network,
#clock,
#cpu,
#disk,
#mode,
#idle_inhibitor,
#keyboard-state,
#scratchpad,
#custom-updates,
#language,
#submap,
#window {
  border-radius: 4px;
  padding: 0 8px;
  background-color: #1f2335;
  margin: 8px 4px;
  color: #1a1b26;
}

#submap {
  color: #f7768e;
}

#window {
  color: #c0caf5;
}

#custom-updates {
  color: #e0af68;
}

#scratchpad {
  background-color: #ff9e64;
}

#tray {
  border-radius: 4px;
  padding: 0;
  background-color: #1f2335;
  padding: 0 8px;
  margin: 8px 8px 8px 4px;
}

#tray menu {
  font-size: 13px;
  font-family: Ubuntu;
  font-weight: 400;
}

#keyboard-state {
  /* background-color: #ff9e64; */
  color: #c0caf5;
}

#keyboard-state label.locked {
  color: #f7768e;
}

#memory {
  color: #b4f9f8; /* Use box-shadow instead of border so the text isn't offset */
}

#disk {
  color: #bb9af7; /* Use box-shadow instead of border so the text isn't offset */
}

#cpu {
  color: #7aa2f7; /* Use box-shadow instead of border so the text isn't offset */
}

#language {
  background-color: #e0af68;
}

#idle_inhibitor {
  padding: 0 16px 0 8px;
  color: #41a6b5;
}

#idle_inhibitor.deactivated {
  color: #db4b4b;
}

#pulseaudio {
  color: #9ece6a; /* Use box-shadow instead of border so the text isn't offset */
}

#pulseaudio.muted {
  color: #f7768e; /* Use box-shadow instead of border so the text isn't offset */
}

#clock {
  font-weight: 500;
  color: #c0caf5;
}

#mode {
  font-style: normal;
  font-weight: 600;
  background-color: #f7768e;
}

tooltip {
  border-radius: 4px;
  padding: 12px;
  background-color: #1a1b26;
  font-family: Ubuntu;
}

tooltip label {
  padding: 4px;
  background-color: #1a1b26;
  font-family: Ubuntu;
}
