/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E1E2EFF;
    background-alt: #282839;
    foreground:     #CDD6F4;
    selected:       #89B4FA;
    active:         #A6E3A1;
    urgent:         #F38BA8;
    gray:           #6C7086;
}
