/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #16161e;
    background-alt: #1f2335;
    foreground:     #c0caf5;
    selected:       #7aa2f7;
    active:         #7aa2f7;
    urgent:         #f7768e;
}
